*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    box-shadow: 1px 1px 3px black;
    position: sticky;
    top: 0;
   z-index: 11;
}
.nav-link{
    margin-left: 50px;
    
}
.nav-link:hover{
    color: rgb(224, 20, 139) !important;
    text-decoration: underline;
}
.main .line{    
    width: 210px;
    height: 4px;
    background-color: rgb(11, 204, 27);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.heading{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    /* background-color: rgba(121, 148, 120, 0.178) !important; */
}
.heading{
    transition: opacity 0.6s ease;
}
.object:hover>:not(:hover){
    opacity: 0.4;
}

.heading:hover img{
    border-radius: 5%; 
    transform: scalex(0.9); 
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.199) !important;
}
.shop{
    width: 30%;
    height: 500px;
    background-color: rgb(205, 255, 212);
    padding: 30px 20px;
    position: absolute;
    top: 30;
    right: -50%;
    z-index: 10;

}
.footer{
    background-color: rgb(11, 204, 27);
 }





